.header__aboutUs {
    text-align: center;
    margin: 6em 25% 0 25%;
}

.header__aboutUs-section {
    color: var(--aboutUs);
    font-size: 16px;
    font-weight: 600;
}

.header__aboutUs-title {
    font-size: 40px;
    font-weight: 600;
    color: var(--aboutUs-title);
    padding-top: 1em;
}

.header__aboutUs-text {
    font-size: 20px;
    font-weight: 400;
    color: var(--options-color);
    padding-top: 1.5em;
}